@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #c0c0a5;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}

.header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
}

.header h2 {
    margin: 0;
}

.form {
    padding: 20px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 15px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 12px;
    padding: 10px;
    width: 100%;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control i {
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.front-validation {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.back-validation {
    color: #e74c3c;
    position: relative;
    bottom: 0;
    left: 0;
}

.form-control.error .front-validation {
    color: #e74c3c;
    visibility: visible;
}

.register-button {
    background-color: #003cb3;
    border: 2px solid #003cb3;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 12px;
    padding: 10px;
    width: 100%;
}

div.asteriks {
    color: #e74c3c;
}
.label {
    position: relative;
}

.label .asteriks {
    position: absolute;
    top: 0;
    right: -10px;
}

.small {
    position: relative;
}

.small .asteriks {
    position: absolute;
    top: 0;
    left: -10px;
}
#togglePassword {
    position: absolute;
    bottom: 0;
    left: 130px;
}

.choose-localization {
    position: fixed;
    top: 0;
    right: 0;
}