@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap");

body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #c0c0a5;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    text-decoration: none;
    list-style: none;
}

header {
    position: relative;
}

div .excursion-info .info-block {
    overflow: hidden;
    height: 250px;
}

.grafic-logo {
    background: #f0f0f0;
    width: 100%;
    height: 250px;
    position: absolute;
    z-index: -1;
}

.choose-localization {
    position: fixed;
    top: 0;
    right: 0;
}

nav {
    text-align: center;
    margin: auto;
    width: 100%;
    position: absolute;
    top: 190px;
}

.topnav {
    font-size: 14px;
    margin-top: 40px;
}

.topnav a {
    color: #000;
    padding: 14px 16px;
    font-size: 15px;
}

.topnav a:hover {
    border-bottom: 2px solid #000;
}

.sign-in-menu {
    position: absolute;
    bottom: -250px;
}

.sign-in-form label {
    text-align: center;
}

.intup {
    margin: 0 5px;
    border: 1px solid black;
    border-radius: 3px;
}

.sign-button {
    background: #003cb3;
    margin: 5px;
    width: 180px;
    padding: 4px;
    border-radius: 5px;
}

.working-board {
    position: relative;
    top: 250px;
}

.view {
    width: 100%;
    height: 100%;
}

.excursion-info {
    position: relative;
    margin: 40px 0;
    width: 100%;
    height: 250px;
}

.modal-messages {
    position: absolute;
    background-color: white;
    top: 0;
    left: 40%;
    text-align: center;
    width: 500px;
    border-radius: 5px;
    color: brown;
    border: white;
    z-index: 1;
}

.image {
    position: absolute;
    margin: 20px 10px;
    left: 0;
    max-width: 33%;
}

.info-block {
    position: relative;
    max-width: 60%;
    left: 40%;
    height: inherit;
}

.description {
    position: relative;
    top: 10px;
    margin: 10px;
}

.cost {
    position: relative;
    margin: 10px;
}

.schedule {
    position: static;
    margin: 10px;
}

span {
    color: blue;
}

.watch-info-button {
    position: absolute;
    bottom: 0;
    background-color: #003cb3;
    border: 2px solid #003cb3;
    font-family: inherit;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    width: 300px;
    cursor: pointer;
}

.watch-comments-button {
    position: absolute;
    left: 40%;
    bottom: 0;
    background-color: #003cb3;
    border: 2px solid #003cb3;
    font-family: inherit;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    width: 300px;
}

.single-excursion-info {
    position: relative;
    margin: 40px 0;
    width: 100%;
    height: 100%;
}

.location {
    position: relative;
    margin: 10px;
}

.register-excursion-button {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #003cb3;
    border: 2px solid #003cb3;
    font-family: inherit;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    width: 300px;
}

input:hover {
    border: 2px solid #000;
}

.groups-info {
    position: relative;
}

table {
    border-collapse: collapse;
    border: 1px solid #000000;
}

caption {
    font-family: inherit;
}

th {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
    background-color: #128012;
    color: #000000;
}

tr:hover {
    background-color: #ddd;
}

table td input {
    background-color: darkgrey;
    border: darkgrey;
    padding: 5px;
    border-radius: 4px;
    margin: auto;
}

#tourists-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tourists-table td {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#excursion-groups-table td {
    padding-left: 5px;
}

#excursion-groups-table tr {
    border: 1px solid #000000;
}

#nav-bar {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c0c0a5;
}

#nav-bar li {
    float: left;
}

#nav-bar li input {
    display: block;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    background-color: dimgrey;
}

#nav-bar li:hover {
    color: black;
}